.primary {
  background-color: $primary;
}

.secondary {
  background-color: $secondary;
}

.tertiary {
  background-color: $tertiary;
}

@for $i from 1 through 5 {
  .primary--darken-#{$i} {
    background-color: blacken($primary, $i);
  }

  .secondary--darken-#{$i} {
    background-color: blacken($secondary, $i);
  }

  .tertiary--darken-#{$i} {
    background-color: blacken($tertiary, $i);
  }

  .primary--lighten-#{$i} {
    background-color: whiten($primary, $i);
  }

  .secondary--lighten-#{$i} {
    background-color: whiten($secondary, $i);
  }

  .tertiary--lighten-#{$i} {
    background-color: whiten($tertiary, $i);
  }
}
