// Responsive hide/show classes
$display-list:
  'block',
  'inline',
  'inline-block',
  'table',
  'flex';

@each $breakpoint, $value in $breakpoints {
  @if ($breakpoint != "xxs") {
    .hide-on-#{$breakpoint} {
      @include media(">=#{$breakpoint}") {
        display: none;
      }
    }

    @each $display in $display-list {
      .#{$display}-on-#{$breakpoint} {
        display: none;

        @include media(">=#{$breakpoint}") {
          display: $display;
        }
      }
    }
  }
}
