.m {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('margin', $size);
    }
  }
}

.m-top {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('margin-top', $size);
    }
  }
}

.m-bottom {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('margin-bottom', $size);
    }
  }
}

.m-left {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('margin-left', $size);
    }
  }
}

.m-right {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('margin-right', $size);
    }
  }
}
