.p {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('padding', $size);
    }
  }
}

.p-top {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('padding-top', $size);
    }
  }
}

.p-bottom {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('padding-bottom', $size);
    }
  }
}

.p-left {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('padding-left', $size);
    }
  }
}

.p-right {
  @each $size, $value in $multipliers {
    &--#{$size} {
      @include distance('padding-right', $size);
    }
  }
}
