.text {
  &--primary {
    color: $primary;
  }

  &--secondary {
    color: $secondary;
  }

  &--tertiary {
    color: $tertiary;
  }

  @for $i from 1 through 5 {
    &--primary--darken-#{$i} {
      color: blacken($primary, $i);
    }

    &--secondary--darken-#{$i} {
      color: blacken($secondary, $i);
    }

    &--tertiary--darken-#{$i} {
      color: blacken($tertiary, $i);
    }

    &--primary--lighten-#{$i} {
      color: whiten($primary, $i);
    }

    &--secondary--lighten-#{$i} {
      color: whiten($secondary, $i);
    }

    &--tertiary--lighten-#{$i} {
      color: whiten($tertiary, $i);
    }
  }
}
