:root {
  --primary: #{$eum-primary};
  --secondary: #{$eum-secondary};
  --tertiary: #{$eum-tertiary};
  --background: #{$white};
  --text-color: #{$eum-primary};

  @for $i from 1 through 5 {
    --primary-light-#{$i}: #{sass_whiten($eum-primary, $i)};
    --secondary-light-#{$i}: #{sass_whiten($eum-secondary, $i)};
    --tertiary-light-#{$i}: #{sass_whiten($eum-tertiary, $i)};
    --primary-dark-#{$i}: #{sass_blacken($eum-primary, $i)};
    --secondary-dark-#{$i}: #{sass_blacken($eum-secondary, $i)};
    --tertiary-dark-#{$i}: #{sass_blacken($eum-tertiary, $i)};
  }
}

body {
  font-family: $sans;
  background-color: $background;
  color: var(--text-color);
}

.invert {
  --primary: #{$white};
  --secondary: #{$eum-secondary};
  --tertiary: #{$eum-tertiary};
  --background: #{$eum-primary};
  --text-color: #{$white};

  background-color: $background;
  color: var(--text-color);

  @for $i from 1 through 5 {
    --primary-light-#{$i}: #{sass_whiten($eum-primary, 6 - $i)};
    --secondary-light-#{$i}: #{sass_whiten($eum-secondary, 6 - $i)};
    --tertiary-light-#{$i}: #{sass_whiten($eum-tertiary, 6 - $i)};
    --primary-dark-#{$i}: #{sass_blacken($eum-primary, 6 - $i)};
    --secondary-dark-#{$i}: #{sass_blacken($eum-secondary, 6 - $i)};
    --tertiary-dark-#{$i}: #{sass_blacken($eum-tertiary, 6 - $i)};
  }

  .invert {
    --primary: #{$eum-primary};
    --secondary: #{$eum-secondary};
    --tertiary: #{$eum-tertiary};
    --background: #{$white};
    --text-color: var(--primary);

    @for $i from 1 through 5 {
      --primary-light-#{$i}: #{sass_whiten($eum-primary, $i)};
      --secondary-light-#{$i}: #{sass_whiten($eum-secondary, $i)};
      --tertiary-light-#{$i}: #{sass_whiten($eum-tertiary, $i)};
      --primary-dark-#{$i}: #{sass_blacken($eum-primary, $i)};
      --secondary-dark-#{$i}: #{sass_blacken($eum-secondary, $i)};
      --tertiary-dark-#{$i}: #{sass_blacken($eum-tertiary, $i)};
    }
  }
}
