.container {
  margin: 0 auto;

  @include media(">=m") {
    max-width: 760px;
  }

  @include media(">=l") {
    max-width: 948px;
  }

  @include media(">=xl") {
    max-width: 1188px;
  }

  @include media(">=xxl") {
    max-width: 1352px;
  }

  @include distance('padding-left', 'mini');
  @include distance('padding-right', 'mini');

  &--full {
    @include distance('padding-left', 'none');
    @include distance('padding-right', 'none');
  }

  &--no-overflow {
    overflow-x: hidden;
  }
}

.row,
.wp-block-columns {
  margin-left: -($gutter-xs / 2);
  margin-right: -($gutter-xs / 2);
  display: flex;
  flex-wrap: wrap;

  @include media(">=s") {
    margin-left: -($gutter / 2);
    margin-right: -($gutter / 2);
  }

  @include media(">=xxl") {
    margin-left: -($gutter-xxl / 2);
    margin-right: -($gutter-xxl / 2);
  }

  &--no-gutter {
    margin-left: 0 !important;
    margin-right: 0 !important;

    & > [class*="col-"] {
      padding: 0 !important;
    }
  }

  &--extra-gutter {
    $mod: map-get($multipliers, 'large');

    @include media(">=s") {
      margin-left: -($gutter * $mod / 2);
      margin-right: -($gutter * $mod / 2);
    }

    @include media(">=xxl") {
      margin-left: -($gutter-xxl * $mod / 2);
      margin-right: -($gutter-xxl * $mod / 2);
    }

    @for $i from 1 through 12 {
      .col-#{$i} {
        @include media(">=s") {
          padding: 0 ($gutter * $mod / 2);
          margin-bottom: nth($bases, 2) * $mod;
        }

        @include media(">=xxl") {
          padding: 0 ($gutter-xxl * $mod / 2);
          margin-bottom: nth($bases, 3)  * $mod;
        }
      }
    }
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    padding: 0 $gutter-xs / 2;
    flex: 0 0 percentage($i / 12);
    max-width: percentage($i / 12);

    @include distance('margin-bottom', 'mini');

    @include media(">=s") {
      padding: 0 ($gutter / 2);
    }

    @include media(">=xxl") {
      padding: 0 ($gutter-xxl / 2);
    }
  }
}

@each $breakpoint, $value in $breakpoints {
  @if ($breakpoint != "xxs") {
    @for $i from 1 through 12 {
      .col-#{$breakpoint}-#{$i} {
        @include media(">=#{$breakpoint}") {
          flex: 0 0 percentage($i / 12);
          max-width: percentage($i / 12);
        }
      }
    }
  }
}

.wp-block-columns {
  flex-wrap: nowrap;
  flex: 1 1 auto;
}

.wp-block-column {
  padding: 0 $gutter-xs / 2;
  max-width: 100%;

  @include media(">=s") {
    padding: 0 ($gutter / 2);
  }

  @include media(">=xxl") {
    padding: 0 ($gutter-xxl / 2);
  }
}
