.icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
  vertical-align: sub;

  &--reverse {
    transform: rotate(180deg);
  }

  &--medium {
    height: 40px;
    width: 40px;
  }

  &--big {
    height: 72px;
    width: 72px;
  }
}
