html {
  font-size: #{$base + 'px'};

  @include media(">=xxl") {
    font-size: #{$base-xxl + 'px'};
  }
}

@each $heading, $properties in $headings {
  #{$styling-class} #{$heading},
  .#{$heading} {
    font-family: $serif;
    font-weight: 600;
    hanging-punctuation: first last;

    b,
    strong {
      font-weight: 700;
    }

    .kicker + & {
      margin-top: 0;
    }

    @include typoscale(nth($properties, 1)...);

    @include media(">=m") {
      @include typoscale(nth($properties, 2)...);
    }
  }
}

.h {
  &--sans {
    font-family: $sans;
    font-weight: 500;
  }

  &--no-m {
    margin: 0 !important;
  }

  &--no-mb {
    margin-bottom: 0 !important;
  }

  &--no-mt {
    margin-top: 0 !important;
  }
}

.kicker {
  font-family: $mono;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

#{$styling-class} p,
.text {
  font-family: $sans;
  font-weight: 300;
  hanging-punctuation: first last;

  b,
  strong {
    font-weight: 500;
  }

  @include typoscale(1, 1.5, 1, 1);

  @include media(">=m") {
    font-weight: 400;

    @include typoscale(1, 1.5, 1, 1);
  }
}

#{$styling-class} .text,
.text {
  &--lead {
    font-weight: 400;

    @include typoscale(1.125, 1.625, 1, 1);

    @include media(">=m") {
      @include typoscale(1.25, 1.75, 1, 1);
    }
  }

  &--small {
    @include typoscale(0.875, 1.25, 1, 1);

    @include media(">=m") {
      @include typoscale(0.875, 1.25, 1, 1);
    }
  }

  &--micro {
    @include typoscale(0.75, 1.125, 1, 1);

    @include media(">=m") {
      @include typoscale(0.75, 1.125, 1, 1);
    }
  }
}

#{$styling-class} a {
  color: $support;
  text-decoration: underline;

  &:hover {
    color: sass_blacken($support, 1);
  }
}

#{$styling-class} ul,
#{$styling-class} ol {
  margin: 1rem 0;
  padding-left: 40px;

  li {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
  }
}

#{$styling-class} ul {
  list-style-type: disc;
}

#{$styling-class} ol {
  list-style-type: decimal;
}

.special-link {
  @include special-link(false, false, 1, 1);

  & + & {
    margin-left: 1.6em;
  }

  &--small {
    @include special-link(true, false, 1, 1);
  }
}

/* Manual fixes */
// Improves readabilty of small headings on mobile.
h5,
h6 {
  @include media("<m") {
    font-weight: 600;

    b,
    strong {
      font-weight: 700;
    }
  }
}

hr {
  border: none;
  height: 1px;
  background-color: whiten($primary, 3);
  margin: 1.5em auto;
  width: 270px;
  max-width: 100%;
}

code {
  font-family: $mono;
  background-color: $grey-01;

  pre > & {
    background-color: transparent;
  }
}

* {
  &::selection {
    color: #{$white};
    background-color: rgba($support, 0.8);
  }
}
