.accordion {
  &__element {
    border-top: 2px solid whiten($primary, 3);

    &:last-child {
      border-bottom: 2px solid whiten($primary, 3);
    }
  }

  &__title {
    padding: 12px 24px;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid $primary;
      width: 0;
      height: 0;
      left: 4px;
      top: 16px;
      transition: transform 0.4s ease;
    }
  }

  &__collapse {
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  &__content {
    padding: 12px 24px 36px;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &:not(.is-accordion-enabled),
  .is-accordion-open {
    .accordion {
      &__title {
        font-weight: 500;

        &::before {
          transform: rotate(90deg);
        }
      }

      &__content {
        opacity: 1;
      }
    }
  }

  &:not(.is-accordion-enabled) {
    .accordion {
      &__title {
        cursor: auto;
      }
    }
  }
}
