.btn,
a.btn {
  display: inline-block;
  font-weight: 500;
  border: 2px solid $primary;
  border-radius: 3px;
  padding: 12px 24px;
  font-family: $sans;
  text-align: center;
  color: $primary;
  background-color: transparent;
  cursor: pointer;
  width: 270px;
  max-width: 100%;

  @include distance('margin-bottom', 'mini');
  @include distance('margin-top', 'mini');

  &:hover {
    color: $background;
    background-color: $primary;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($support, 0.3);
    outline: none;
  }

  &[disabled=disabled],
  &[disabled],
  &:disabled {
    background-color: transparent;
    opacity: 0.3;
    cursor: not-allowed;

    &:hover {
      color: $primary;
    }
  }

  &--secondary {
    color: $secondary;
    border-color: $secondary;

    &:hover {
      background-color: $secondary;
    }

    &[disabled=disabled],
    &[disabled],
    &:disabled {
      background-color: transparent;
      opacity: 0.3;
      cursor: not-allowed;

      &:hover {
        color: $secondary;
      }
    }
  }

  &--tertiary {
    color: $tertiary;
    border-color: $tertiary;

    &:hover {
      background-color: $tertiary;
    }

    &[disabled=disabled],
    &[disabled],
    &:disabled {
      background-color: transparent;
      opacity: 0.3;
      cursor: not-allowed;

      &:hover {
        color: $tertiary;
      }
    }
  }

  &--auto {
    width: auto;
  }

  &--full {
    width: 100%;
  }

  &--small {
    padding: 6px 20px;
    width: auto;
  }

  &--ghost {
    border-color: transparent;

    &:hover {
      background-color: transparent;
      color: blacken($primary, 1);
    }

    &.btn--secondary:hover {
      color: blacken($secondary, 1);
    }

    &.btn--tertiary:hover {
      color: blacken($tertiary, 1);
    }
  }
}
