#{$form-styling-class} input[type=text],
#{$form-styling-class} input[type=email],
#{$form-styling-class} input[type=password],
#{$form-styling-class} input[type=number],
#{$form-styling-class} select,
#{$form-styling-class} textarea,
.styled-input {
  display: block;
  padding: 12px;
  border: 1px solid $primary;
  color: inherit;
  background-color: $background;
  width: 100%;
  border-radius: 2px;

  @include distance('margin-bottom', 'small');
  @include distance('margin-top', 'micro');

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba($support, 0.3);
  }

  &::-moz-placeholder {
    color: sass_whiten(#000, 4);
  }

  &:-ms-input-placeholder {
    color: sass_whiten(#000, 4);
  }

  &::-webkit-input-placeholder {
    color: sass_whiten(#000, 4);
  }

  &::placeholder {
    color: sass_whiten(#000, 4);
  }
}

#{$form-styling-class} label {
  font-family: $mono;
}

.styled-label {
  @include typoscale(1, 1, 1, 0.5);

  font-family: $mono;
  display: block;

  &--small {
    @include typoscale(0.875, 1.25, 1, 0.5);

    @include media(">=m") {
      @include typoscale(0.875, 1.25, 1, 0.5);
    }
  }

  &--micro {
    @include typoscale(0.75, 1.125, 1, 0.5);

    @include media(">=m") {
      @include typoscale(0.75, 1.125, 1, 0.5);
    }
  }
}

#{$form-styling-class} select,
select.styled-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }

  background: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' fill='#{inlinesvg($eum-primary)}' viewBox='0 0 512 512'><path d='M128 192l128 128 128-128z'/></svg>") no-repeat;
  background-position: right 10px top 50%;
  background-size: 28px 28px;
  padding-right: 48px;

  .invert & {
    background: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' fill='#{inlinesvg($white)}' viewBox='0 0 512 512'><path d='M128 192l128 128 128-128z'/></svg>") no-repeat;
    background-position: right 10px top 50%;
    background-size: 28px 28px;
  }
}

#{$form-styling-class} textarea,
textarea.styled-input {
  resize: vertical;
}

#{$form-styling-class} input[type=submit],
#{$form-styling-class} button[type=submit],
button[type=submit].styled-input,
input[type=submit].styled-input {
  @extend .btn;
}
