.modal {
  height: calc(100% - 24px);
  width: 100%;
  max-width: calc(100% - 24px);
  margin: 13px auto 0;
  display: none;

  @include media(">=s") {
    height: 80%;
    margin: 48px auto 0;
  }

  .overlay & {
    display: block;
  }

  @include media('>=m') {
    max-width: 710px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    border-top: 4px solid $secondary;
  }

  &__close {
    position: absolute;
    border: none;
    top: 16px;
    right: 24px;
    font-size: 0;
    padding: 0;
    cursor: pointer;

    &:focus {
      outline: none;

      &::before {
        outline: 2px solid rgba($support, 0.3);
      }
    }

    &::before {
      content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{inlinesvg($primary)}' d='M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z'/></svg>");
      position: absolute;
      right: 0;
      top: 0;
      height: 24px;
      width: 24px;
    }
  }

  &__header {
    flex: 0 0 auto;
    background-color: $background;
    padding: 32px 48px 24px 24px;
  }

  &__dialog {
    background-color: $background;
    flex: 1 1 auto;
    padding: 0 24px 24px;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  &__footer {
    flex: 0 0 auto;
    background-color: whiten($primary, 4);
    padding: 12px 24px;

    .btn {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // toast 1001
  z-index: 1002;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary;
    opacity: 0.95;
    z-index: -1;
  }
}
