
.radio,
.checkbox {
  @include distance('margin-top', 'mini');
  @include distance('margin-bottom', 'mini');

  &--inline {
    display: inline-block;

    @include distance('margin-top', 'none');
    @include distance('margin-bottom', 'none');
    @include distance('margin-right', 'small');

    &:last-child {
      @include distance('margin-right', 'none');
    }
  }

  input[type=checkbox],
  input[type=radio] {
    @include vhidden;

    &:disabled + label,
    &[disabled] + label,
    &[disabled=disabled] + label {
      opacity: 0.3;
      cursor: not-allowed;

      &:hover::before {
        box-shadow: none;
      }
    }
  }

  label {
    display: block;
    position: relative;
    line-height: 20px;
    padding-left: 26px;
    cursor: pointer;
    margin: 0;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      height: 20px;
      width: 20px;
      border: 1px solid $primary;
      transition: all 0.2s ease;
    }

    &:hover {
      &::before {
        box-shadow: inset 0 0 0 1px $primary;
      }
    }
  }
}

.checkbox {
  input[type=checkbox] {
    &:checked + label {
      &::before {
        background-color: $primary;
      }

      &::after {
        transform: rotate(-45deg) scale(1);
      }
    }

    &:focus + label::before {
      outline: 2px solid rgba($support, 0.3);
    }
  }

  label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    height: 6px;
    width: 12px;
    border-left: 2px solid $background;
    border-bottom: 2px solid $background;
    transform: rotate(-45deg) scale(0);
    transition: all 0.2s ease;
  }
}

.radio {
  input[type=radio] {
    &:checked + label {
      &::before {
        box-shadow: inset 0 0 0 1px $primary;
      }

      &::after {
        transform: scale(1);
      }
    }

    &:focus + label::before {
      box-shadow: inset 0 0 0 1px $primary, 0 0 0 2px rgba($support, 0.3);
    }
  }

  label::before {
    border-radius: 50%;
  }

  label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $primary;
    transform: scale(0);
    transition: all 0.2s ease;
  }
}
