.progress {
  display: flex;
  position: relative;
  z-index: 1;

  &__step {
    position: relative;
    flex: 1 0 auto;
    min-height: 24px;

    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 12px;
      left: 0;
      transform: translateY(-50%);
      background-color: $primary;
      z-index: -1;
    }

    &:last-child::before {
      display: none;
    }

    &--current {
      .progress__indicator::before {
        transform: scale(1);
      }

      .progress__text {
        opacity: 1;
      }
    }

    &--done {
      .progress__indicator::after {
        opacity: 1;
      }

      .progress__text {
        opacity: 1;
      }
    }
  }

  &__indicator {
    height: 24px;
    width: 24px;
    border: 2px solid $primary;
    border-radius: 50%;
    background-color: $background;
    position: relative;

    @include distance('margin-bottom', 'mini');

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $primary;
      transform: scale(0);
      transition: transform 0.2s ease;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 7px;
      height: 10px;
      width: 6px;
      border-bottom: 2px solid $primary;
      border-right: 2px solid $primary;
      transform: rotate(45deg);
      transition: opacity 0.2s ease;
      opacity: 0;
    }
  }

  &__text {
    opacity: 0.4;
  }
}
