// CAVEAT: Range input prefixes properties won't work if grouped together
.range {
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
    background: transparent;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-moz-focus-outer {
    border: 0;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: whiten($primary, 4);
  }

  input[type=range]::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-color: whiten($primary, 2);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }

  input[type=range]:focus::-webkit-slider-thumb {
    background-color: $primary;
    box-shadow: 0 0 0 2px rgba($support, 0.3);
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: whiten($primary, 4);
  }

  input[type=range]::-moz-range-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-color: whiten($primary, 2);
    cursor: pointer;
  }

  input[type=range]:focus::-moz-range-thumb {
    background-color: $primary;
    box-shadow: 0 0 0 2px rgba($support, 0.3);
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    border-width: 12px 0;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background-color: $primary;
  }

  input[type=range]::-ms-fill-upper {
    background-color: whiten($primary, 4);
  }

  input[type=range]::-ms-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-color: whiten($primary, 2);
    cursor: pointer;
  }

  input[type=range]:focus::-ms-thumb {
    background-color: $primary;
    box-shadow: 0 0 0 2px rgba($support, 0.3);
  }
}
