.scroll-top {
  position: fixed;
  border: 2px solid $primary;
  border-radius: 50%;
  color: $primary;
  background-color: $background;
  padding: 8px;
  box-shadow: 0 3px 8px 0 rgba(#000, 0.2);
  cursor: pointer;
  // toast 1001
  z-index: 1000;

  @include distance('bottom', 'small');
  @include distance('right', 'small');

  &:focus {
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(#000, 0.2), 0 0 0 2px rgba($support, 0.3);
  }

  .icon {
    display: block;
  }
}
