.search {
  position: relative;

  label {
    @include vhidden;
  }

  input,
  #{$form-styling-class} & input {
    display: block;
    padding: 12px;
    padding-left: 48px;
    padding-right: 48px;
    border: 1px solid $primary;
    color: inherit;
    background-color: $background;
    width: 100%;
    border-radius: 2px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba($support, 0.3);
    }

    &::-moz-placeholder {
      color: sass_whiten(#000, 4);
    }

    &:-ms-input-placeholder {
      color: sass_whiten(#000, 4);
    }

    &::-webkit-input-placeholder {
      color: sass_whiten(#000, 4);
    }

    &::placeholder {
      color: sass_whiten(#000, 4);
    }
  }

  button {
    position: absolute;
    right: 10px;
    top: 50%;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-50%) translateX(10px);
    transition: transform 0.2s ease, opacity 0.2s ease;

    &::before {
      content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{inlinesvg($eum-primary)}' d='M256 48C140.559 48 48 140.559 48 256c0 115.436 92.559 208 208 208 115.435 0 208-92.564 208-208 0-115.441-92.564-208-208-208zm104.002 282.881l-29.12 29.117L256 285.117l-74.881 74.881-29.121-29.117L226.881 256l-74.883-74.881 29.121-29.116L256 226.881l74.881-74.878 29.12 29.116L285.119 256l74.883 74.881z'/></svg>");
      height: 28px;
      width: 28px;
      display: block;

      .invert & {
        content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{inlinesvg($white)}' d='M256 48C140.559 48 48 140.559 48 256c0 115.436 92.559 208 208 208 115.435 0 208-92.564 208-208 0-115.441-92.564-208-208-208zm104.002 282.881l-29.12 29.117L256 285.117l-74.881 74.881-29.121-29.117L226.881 256l-74.883-74.881 29.121-29.116L256 226.881l74.881-74.878 29.12 29.116L285.119 256l74.883 74.881z'/></svg>");
      }
    }

    &:focus {
      outline: 2px solid rgba($support, 0.3);
    }
  }

  &::before {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{inlinesvg($eum-primary)}' d='M337.509 305.372h-17.501l-6.571-5.486c20.791-25.232 33.922-57.054 33.922-93.257C347.358 127.632 283.896 64 205.135 64 127.452 64 64 127.632 64 206.629s63.452 142.628 142.225 142.628c35.011 0 67.831-13.167 92.991-34.008l6.561 5.487v17.551L415.18 448 448 415.086 337.509 305.372zm-131.284 0c-54.702 0-98.463-43.887-98.463-98.743 0-54.858 43.761-98.742 98.463-98.742 54.7 0 98.462 43.884 98.462 98.742 0 54.856-43.762 98.743-98.462 98.743z'/></svg>");
    position: absolute;
    height: 28px;
    width: 28px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:valid {
    button {
      opacity: 1;
      transform: translateY(-50%);
    }
  }
}
