.switcher {
  display: flex;
  border: 1px solid $primary;
  border-radius: 8px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @include distance('margin-top', 'small');
  @include distance('margin-bottom', 'small');

  &:focus-within {
    box-shadow: 0 0 0 2px rgba($support, 0.3);
  }

  input[type=radio] {
    @include vhidden;

    & + label {
      border-right: 1px solid $primary;
      padding: 12px;
      flex: 1 270px;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      font-family: $sans;

      @include distance('margin', 'none');
    }

    &:last-of-type + label {
      border-right-width: 0;
    }

    &:checked + label {
      background-color: $primary;
      color: $background;
    }
  }
}
