#{$styling-class} table,
.table {
  width: 100%;
  border-collapse: collapse;

  @include distance('margin-top', 'small');
  @include distance('margin-bottom', 'small');

  td,
  th {
    padding: 12px 8px;
    text-align: left;
    box-sizing: content-box;
  }

  thead {
    border-bottom: 2px solid $primary;
  }

  th {
    font-weight: 500;
  }

  tbody tr {
    border-top: 1px solid whiten($primary, 3);
  }

  tfoot {
    border-top: 2px solid $primary;

    td {
      font-weight: 500;
    }
  }
}

#{$styling-class} .table,
.table {
  &--mono {
    font-family: $mono;
  }

  &--secondary {
    td,
    th {
      color: $secondary;
    }

    thead {
      border-bottom-color: $secondary;
    }

    tfoot {
      border-top-color: $secondary;
    }

    tbody tr {
      border-top: 1px solid whiten($secondary, 3);
    }

    .invert & {
      background-color: $secondary;
      color: $text-color;

      td,
      th {
        color: $text-color;
      }

      thead {
        border-bottom-color: $primary;
      }

      tfoot {
        border-top-color: $primary;
      }
    }
  }

  &--tertiary {
    td,
    th {
      color: $tertiary;
    }

    thead {
      border-bottom-color: $tertiary;
    }

    tfoot {
      border-top-color: $tertiary;
    }

    tbody tr {
      border-top: 1px solid whiten($tertiary, 3);
    }

    .invert & {
      background-color: $tertiary;

      td,
      th {
        color: $text-color;
      }

      thead {
        border-bottom-color: $primary;
      }

      tfoot {
        border-top-color: $primary;
      }
    }
  }

  &--striped {
    tbody tr:nth-child(odd) {
      background-color: whiten($primary, 5);
    }

    &.table--secondary {
      tbody tr:nth-child(odd) {
        background-color: whiten($secondary, 5);
      }
    }

    &.table--tertiary {
      tbody tr:nth-child(odd) {
        background-color: whiten($tertiary, 5);
      }
    }
  }
}
