.tabs {
  &__controls {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    @include media(">=m") {
      overflow-x: visible;
    }
  }

  &__control {
    flex: 0 0 auto;
    padding: 12px 24px;
    color: inherit;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    position: relative;

    @include distance('margin-right', 'small');

    &:last-child {
      @include distance('margin-right', 'none');
    }

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      background-color: $primary;
      width: 100%;
      left: 0;
      bottom: 0;
      transform-origin: bottom;
      transition: transform 0.2s ease;
    }

    &:hover::after {
      transform: scaleY(2);
    }

    &.is-tab-selected {
      &::after,
      &:hover::after {
        transform: scaleY(4);
      }
    }

    &:focus {
      outline: 2px solid rgba($support, 0.3);
    }
  }

  &__panel {
    overflow: auto;
    -ms-overflow-style: none;

    &:focus {
      outline: 2px solid rgba($support, 0.3);
    }
  }
}
