.tag {
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  background-color: whiten($primary, 4);
  color: $primary;
  padding: 6px 24px;
  border: none;

  @include distance('margin-right', 'micro');
  @include distance('margin-bottom', 'micro');

  &:last-child {
    @include distance('margin-right', 'none');
  }

  &--small {
    font-size: 14px;
    padding: 4px 16px;
  }

  @at-root {
    a#{&} {
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $primary;
        color: $background;
      }
    }
  }

  @each $current-color in $tag-colors {
    $i: index($tag-colors, $current-color);

    &--#{$i} {
      background-color: sass_whiten($current-color, 4);
      color: $current-color;

      @at-root {
        a#{&}:hover {
          background-color: $current-color;
        }
      }
    }
  }
}
