.toast {
  min-height: 100px;
  background-color: $background;
  border-left: 4px solid $primary;
  padding: 12px 24px;
  box-shadow: 0 4px 12px 0 rgba(#000, 0.1);
  cursor: grab !important;

  @include distance('margin-top', 'medium');

  &:first-child {
    @include distance('margin-top', 'none');
  }

  &:active {
    cursor: grabbing !important;
  }

  &__title,
  &__message {
    @include distance('margin', 'none');

    &:first-child {
      @include distance('margin', 'none');
    }
  }

  &__title {
    font-weight: 500;
  }

  &--info {
    border-color: $info;
  }

  &--success {
    border-color: $success;
  }

  &--warning {
    border-color: $warning;
  }

  &--error {
    border-color: $error;
  }
}

.toast-container {
  position: fixed;

  // scrollToTop 1000 - modal overlay 1002
  z-index: 1001;
  left: 30px;

  @include distance('right', 'medium');
  @include distance('bottom', 'medium');

  &:empty {
    display: none;
  }

  @include media(">=s") {
    width: 270px;
    left: auto;
  }
}
