.toggle {
  position: relative;
  font-family: $mono;
  user-select: none;

  @include distance('margin-top', 'small');
  @include distance('margin-bottom', 'small');

  &::before {
    content: attr(data-off);
    font-size: 16px;
  }

  &::after {
    content: attr(data-on);
    font-size: 16px;
  }

  input[type=checkbox] {
    @include vhidden;

    + label {
      display: inline-block;
      vertical-align: -7px;
      width: 48px;
      height: 24px;
      position: relative;
      cursor: pointer;
      margin: 0 4px;

      &::before {
        content: '';
        height: 4px;
        width: 100%;
        background-color: whiten($primary, 4);
        position: absolute;
        top: 10px;
        transition: all 0.2s ease;
      }

      &::after {
        content: '';
        position: absolute;
        top: -1px;
        height: 26px;
        width: 26px;
        border: 2px solid whiten($primary, 2);
        border-radius: 50%;
        background-color: whiten($primary, 5);
        transition: all 0.2s ease;
      }
    }

    &:checked + label {
      &::before {
        background-color: $primary;
      }

      &::after {
        transform: translateX(24px);
        background-color: whiten($primary, 2);
      }
    }

    &:focus + label::after {
      box-shadow: 0 0 0 2px rgba($support, 0.3);
    }

    &:disabled + label,
    &[disabled] + label,
    &[disabled=disabled] + label {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
