.eum-header {
  --background: #{$white};
  --btn-background: #{sass-whiten($eum-primary, 5)};
  --btn-background-hover: #{$eum-primary};

  background-color: var(--background);
  color: var(--text-color);

  button {
    vertical-align: middle;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
  }

  &__brand {
    display: inline-block;
    margin-right: auto;
    font-family: $trajan;
    letter-spacing: 0.6px;
    text-transform: lowercase;
    text-decoration: none;
    border-bottom: none;
    color: inherit;

    &:hover {
      background-color: transparent;
    }

    &-title {
      vertical-align: middle;

      @include media('>=xs') {
        font-size: 1.375rem;
      }
    }

    .icon {
      opacity: 0.5;
      vertical-align: middle;
    }

    &-logo {
      width: 1.875rem;
      height: 1.875rem;
      fill: currentColor;
      vertical-align: middle;
    }
  }

  // Kep for compat: will be removed in next minor release
  &__btn {
    margin-right: 8px;
    padding: 4px 8px;
    background-color: var(--btn-background);
    border: none;
    border-radius: 3px;

    &:hover {
      background-color: var(--btn-background-hover);
      color: $white;
    }
  }

  &-countries {
    position: relative;
    margin: 0;
    background-color: var(--background);
    letter-spacing: 0.06px;

    &__item {
      padding-top: 6px;
      padding-bottom: 6px;
      border-top: 1px solid sass_whiten($eum-primary, 5);
    }

    &__link {
      display: block;
      padding: 6px 0;

      &:hover {
        color: sass_blacken($eum-primary, 1);
      }
    }

    &__dropdown-trigger {
      padding: 12px 16px;
      text-align: center;

      .is-dropdown-open & {
        background-color: inherit;
        box-shadow: -4px 0 0 0 $support;
      }

      .icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        fill: none;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }

    &__dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: auto;
      min-width: initial;
      margin-top: -1px; //Remove whitespace
      padding: 0 16px;
      background-color: inherit;
      color: inherit;
      box-shadow: -4px 0 0 0 $support, 3px 3px 3px 0 rgba(0, 71, 107, 0.2);
      z-index: 1000;

      .is-dropdown-open & {
        display: block;
      }
    }
  }
}
