.eum-footer {
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.06px;
  background-color: sass_blacken($eum-primary, 1);
  color: $white;

  &__container {
    @include distance('padding-top', 'small');
    @include distance('padding-bottom', 'small');
  }

  &__columns {
    @include media('>=m') {
      display: flex;
      flex-direction: row;
      margin-left: -($gutter / 2);
      margin-right: -($gutter / 2);
      padding-top: 1.5rem;
    }

    @include media('>=l') {
      padding-top: 2rem;
    }

    @include media('>=xl') {
      padding-top: 2.5rem;
    }

    @include media(">=xxl") {
      margin-left: -($gutter-xxl / 2);
      margin-right: -($gutter-xxl / 2);
    }
  }

  &__column {
    @include media('>=m') {
      padding: 0 $gutter / 2;
    }

    @include media(">=xxl") {
      padding: 0 ($gutter-xxl / 2);
    }

    &--brand {
      @include distance('margin-bottom', 'mini');

      @include media('>=m') {
        flex: 0 0 percentage(2 / 12);
        max-width: percentage(2 / 12);
        margin-top: -1.5rem;

        @include media('>=l') {
          margin-top: -2rem;
        }

        @include media('>=xl') {
          margin-top: -2.5rem;
        }
      }
    }

    &--activities {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;

      @include media('>=m') {
        display: block;
        flex: 1 1 percentage(2 / 12);
        max-width: percentage(2 / 12);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &--jesuits {
      @include media('>=m') {
        flex: 0 0 percentage(8 / 12);
        max-width: percentage(8 / 12);
      }
    }
  }

  &__subcolumn {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 0 $gutter-xs / 2;

    &:nth-child(n+3) {
      margin-top: 3rem;

      @include media('>=m') {
        margin-top: 0;
      }
    }

    @include media('>=s') {
      padding: 0 $gutter / 2;
    }

    @include media('>=m') {
      flex: 1 1 25%;
      max-width: 25%;
    }

    @include media(">=xxl") {
      padding: 0 $gutter-xxl / 2;
    }
  }

  &__brand {
    display: inline-block;
    padding-right: 12px;
    width: auto;
    text-decoration: none;
    border-bottom: none;
    color: inherit;

    &-logo {
      width: 2.5rem;
      height: 2.5rem;
      fill: currentColor;
      vertical-align: middle;

      @include media(">=m") {
        display: block;
        width: 4rem;
        height: 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
      }

      @include media(">=l") {
        width: 5rem;
        height: 5rem;
      }

      @include media(">=xl") {
        width: 6rem;
        height: 6rem;
      }
    }

    &-title {
      font-family: $trajan;
      font-size: 1.5rem;
      letter-spacing: 0.6px;
      margin-left: auto;
      margin-right: auto;
      text-transform: lowercase;
      vertical-align: middle;

      @include media(">=l") {
        font-size: 2rem;
      }
    }
  }

  &__menu {

    li {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-weight: 500;
    }

    &--activities {
      flex: 1 1 percentage(4 / 12);
      max-width: percentage(4 / 12);
      margin: 0;
      padding: 0 $gutter-xs 0 0;

      @include media(">=s") {
        padding: 0 $gutter 0 0;
      }

      @include media('>=m') {
        max-width: 100%;
        margin-top: 1rem;
        padding: 0;
      }
    }
  }

  &__title {
    display: block;
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 1rem;
    font-weight: 500;
    color: $eum-secondary;

    &--sub {
      color: sass_whiten($eum-primary, 3);
    }
  }

  &__menu + &__title--sub {
    margin-top: 3rem;
  }

  &__dropdown-trigger {
    display: inline-block;
    color: sass_whiten($eum-primary, 2);
    vertical-align: middle;

    @include media('>=m') {
      display: none;
    }

    .close {
      display: none;
    }

    .is-footer-open & {
      .close {
        display: block;
      }

      .open {
        display: none;
      }
    }
  }

  &__mobile-dropdown {
    display: none;
    flex-wrap: wrap;
    margin-left: -($gutter-xs / 2);
    margin-right: -($gutter-xs / 2);
    margin-bottom: 1rem;

    .is-footer-open & {
      display: flex;
    }

    @include media('>=m') {
      margin-left: -($gutter / 2);
      margin-right: -($gutter / 2);
    }

    @include media('>=m') {
      display: flex;
      margin-bottom: 0;
    }

    @include media(">=xxl") {
      margin-left: -($gutter-xxl / 2);
      margin-right: -($gutter-xxl / 2);
    }
  }

  &-bar {
    padding: 16px 0;
    color: inherit;

    &--sj-breadcrumbs {
      background-color: sass_blacken($eum-primary, 1);
      border-top: 1px solid sass_whiten($eum-primary, 1);
    }

    &__wrapper {
      margin-left: -($gutter-xs / 2);
      margin-right: -($gutter-xs / 2);

      @include media('>=s') {
        margin-left: -($gutter / 2);
        margin-right: -($gutter / 2);
      }

      @include media('>=xxl') {
        margin-left: -($gutter-xxl / 2);
        margin-right: -($gutter-xxl / 2);
      }
    }

    &__content {
      padding: 0 $gutter-xs / 2;

      @include media('>=s') {
        padding: 0 $gutter / 2;
      }

      @include media('>=m') {
        margin-left: percentage(2 / 12);
      }

      @include media('>=xxl') {
        padding: 0 $gutter-xxl / 2;
      }
    }
  }

  &-breadcrumbs {
    display: block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    &__org {
      margin-bottom: 12px;

      &:last-child {
        & > a {
          color: sass_whiten($eum-primary, 3);
        }

        &::after {
          content: none;
        }
      }

      &::after {
        content: '>';
        display: inline-block;
        margin: 0 8px;

        @include media(">=xl") {
          margin: 0 16px;
        }
      }

      @include media('>=xl') {
        display: inline-block;
        margin-bottom: 0;
      }
    }

    &__countries {
      display: block;
      margin-top: 4px;

      @include media('>=xl') {
        display: inline-block;
        margin-top: 0;
        margin-left: 8px;
      }
    }

    &__country {
      display: inline-block;

      &::after {
        content: '/';
        display: inline-block;
        margin: 0 4px;
      }

      &:last-child::after {
        content: none;
      }

      &--current {
        font-weight: 500;
      }
    }
  }
}
