.main-footer {
  @include distance('padding-top', 'small');
  @include distance('padding-bottom', 'small');

  background-color: $white;
  font-size: 0.875rem;

  &__row,
  &__bar {
    display: flex;
    flex-wrap: wrap;

    @include media(">=m") {
      padding-left: 16.66667%;
    }
  }

  &__row {
    margin-left: -($gutter-xs / 2);
    margin-right: -($gutter-xs / 2);

    @include media('>=m') {
      margin-left: -($gutter / 2);
      margin-right: -($gutter / 2);
    }

    @include media(">=xxl") {
      margin-left: -($gutter-xxl / 2);
      margin-right: -($gutter-xxl / 2);
    }

    ul li {
      @include distance('margin-bottom', 'mini');

      &:last-child {
        @include distance('margin-bottom', 'none');
      }

      a {
        font-weight: 500;

        &:hover {
          color: whiten($primary, 1);
        }
      }
    }
  }

  @for $i from 1 to 5 {
    &__col-#{$i} {
      @include distance('margin-bottom', 'medium');

      padding: 0 $gutter-xs / 2;

      @include media('>=m') {
        padding: 0 $gutter / 2;
        flex: 0 0 percentage($i / 5);
        max-width: percentage($i / 5);
      }

      @include media(">=xxl") {
        padding: 0 ($gutter-xxl / 2);
      }
    }
  }

  &__title {
    font-family: $sans;
    font-size: 0.875rem;
    line-height: 1.15rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    color: $secondary;
  }

  &__text {
    a {
      color: $support;
      text-decoration: underline;

      &:hover {
        color: sass_blacken($support, 1);
      }
    }
  }

  &__bar {
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    @include distance('margin-top', 'mini');
    @include distance('margin-bottom', 'mini');
  }

  &__social {
    display: flex;
    align-items: center;

    &-link {
      padding: 6px;

      svg {
        display: block;
      }

      &:hover {
        color: whiten($primary, 1);
      }
    }
  }
}
