.main-header {
  background-color: $primary;
  color: $white;

  &__placeholder {
    background-color: $primary;
    transition: none;
    position: relative;
    z-index: 999;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: height 0.35s ease;
    transition: padding 0.1s ease-in-out;
    position: relative;
    z-index: 2;
    background-color: inherit;

    @include media(">=xl") {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__mobile-wrapper {
    background-color: inherit;
    min-width: 0;
    width: 100%;
    flex: 1;
    position: relative;
    z-index: 1;
    transition: transform 0.35s ease-in-out;

    @include media(">=xl") {
      padding-bottom: 12px;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;

    &-logo {
      transition: all 0.35s ease;
      max-width: 200px;
      height: 3rem;
      margin-right: 0.5em;
      vertical-align: middle;
      fill: currentColor;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media(">=s") {
        height: 4.625rem;
      }

      img {
        max-height: 100%;
        width: auto;
      }

      .ihs-svg {
        width: 3rem;
        height: 3rem;
        transition: inherit;

        @include media(">=s") {
          width: 4.625rem;
          height: 4.625rem;
        }
      }
    }

    &-title {
      font-family: $trajan;
      font-size: 1.625rem;
      letter-spacing: 0.6px;
      text-transform: lowercase;
      position: relative;
      flex: 1;

      @include media('>=s') {
        font-size: 2rem;
      }

      .has-header-sticky & {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &-subtitle {
      font-size: 0.75rem;
      line-height: 1;
      padding-bottom: 1px;
      text-transform: none;
      font-family: $sans;
      font-weight: 300;
      position: absolute;
      max-width: 100%;
      display: none;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include media('>=s') {
        display: -webkit-box;
      }

      .has-header-sticky & {
        display: none;
      }
    }
  }

  &__language {
    display: none;

    .nav__dropdown {
      min-width: 0;
    }

    @include media('>=xl') {
      display: block;
    }

    &-mobile {
      display: block;
      position: absolute;
      height: 40px;
      bottom: 0;
      right: 0;

      @include media('>=xl') {
        display: none;
      }

      .nav__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        // min-width: 200px;
        margin-top: -1px;
        padding: 0 16px;
        background-color: white;
        color: var(--text-color);
        box-shadow: -4px 0 0 0 #296dc0, 3px 3px 3px 0 rgba(0, 71, 107, 0.2);
        z-index: 2;
      }
    }
  }

  &__extra-btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    position: relative;
    padding-bottom: 16px;

    @include media('>=xl') {
      margin-top: 0;
      flex-wrap: nowrap;
      align-items: center;
      padding-bottom: 0;
    }

    .btn {
      color: $white;
      border-color: $white;
      background-color: transparent;
      margin: 0;
      order: 1;
      margin-bottom: 1rem;

      @include media('>=xl') {
        margin-bottom: 0;
        margin-right: 1rem;
      }

      &:hover {
        color: $primary;
        background-color: $white;
      }
    }
  }

  &__social {
    min-height: 40px;
    flex: 1 100%;
    order: 2;

    @include media('>=xl') {
      text-align: right;
      flex: 1 auto;
      order: 1;
    }

    &-item {
      display: inline-block;
      margin-bottom: -8px;

      a {
        padding: 8px;
        display: block;

        svg {
          display: block;
        }
      }
    }
  }

  &__buttons {
    display: flex;
  }

  &__search {
    padding: 8px;

    svg {
      vertical-align: sub;
      stroke: currentColor;
    }
  }

  &__mobile-trigger {
    padding: 0 4px;

    @include media('>=xl') {
      display: none;
    }

    .icon {
      position: static;

      &.close {
        display: none;

        .is-header-open & {
          display: block;
        }
      }

      &.open {
        display: block;

        .is-header-open & {
          display: none;
        }
      }
    }
  }

  &__mobile-dropdown {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include media('<xl') {
      .is-header-open & {
        display: block;
      }
    }

    @include media('>=xl') {
      display: flex;
    }
  }

  &__menu {
    margin-top: 24px;

    @include media('>=xl') {
      margin-top: 0;
    }

    .nav__item--top-level:last-child:not(.nav__item--has-dropdown) {
      padding-right: 0;
    }

    .nav__link--top-level.btn {
      color: $white;
      border-color: $white;
      background-color: transparent;

      &:hover {
        color: $primary;
        background-color: $white;
      }
    }
  }

  body.has-header-sticky & {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    &__wrapper {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &__mobile-wrapper {
      @include media(">=xl") {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        transform: translateY(-100%);
      }
    }

    &__brand-logo {
      height: 36px;

      .ihs-svg {
        height: 36px;
        width: 36px;
      }
    }
  }

  body.has-header-sticky.has-scrolled-down & {
    &__mobile-wrapper {
      @include media(">=xl") {
        transform: translateY(0);
      }
    }
  }
}
