.nav {
  $color-light: whiten($primary, 3);
  $color-dark: blacken($primary, 1);

  color: inherit;
  margin: 0;
  padding-left: 0;
  letter-spacing: 0.06px;

  @include media('>=xl') {
    display: flex;
    align-items: center;
  }

  &__item {
    .nav > & {
      @include media('>=xl') {
        display: inline-block;
        margin-right: 4px;
      }
    }

    &--has-dropdown {
      position: relative;

      @include media('>=xl') {
        &.is-dropdown-open {
          background-color: $background;
          color: $text-color;
          box-shadow: -4px 0 0 0 $support;
        }
      }
    }

    &--has-sub-menu {
      @include media('>=xl') {
        padding-bottom: 0;
        border-bottom-color: transparent;
      }
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    padding: 12px 6px;
    background-color: transparent;
    color: inherit;
    border-bottom-width: 2px;
    border-bottom-color: transparent;
    width: 100%;
    text-align: left;

    @include media(">=xl") {
      width: auto;
    }

    &:not(.btn):hover {
      background-color: transparent;
    }

    //Top level links
    &--top-level {
      padding: 12px 6px;
      font-size: 1.125rem;
      font-weight: 500;
      white-space: nowrap;

      @include media('>=xxl') {
        font-size: 1rem;
      }

      &.btn {
        font-weight: inherit;
        margin: 0;
      }

      @include media('>=xl') {
        padding-left: 16px;
        padding-right: 16px;

        .is-dropdown-open & {
          color: $text-color;
          position: relative;

          &:hover,
          &:active {
            color: inherit;
          }
        }
      }

      .icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        fill: none;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-linejoin: round;

        @include media('>=xl') {
          width: 16px;
          height: 16px;
        }
      }
    }

    //Nested links
    &--nested {
      padding-left: 0;
      padding-right: 0;
      width: 100%;

      @include media('>=xl') {
        border-bottom: 1px solid whiten($primary, 5);
      }

      @include media('>=xl') {
        &:hover {
          color: $color-dark;
        }
      }
    }

    //Current links
    &--current {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 6px;
        right: 16px;
        left: 16px;
        height: 2px;
        background-color: $color-light;
      }

      @include media('<xl') {
        &::after {
          content: none;
        }
      }
    }

    &--nested#{&}--current {
      &::after {
        content: none;
      }

      @include media('>=xl') {
        font-weight: 500;
      }
    }
  }

  //Top level child list
  &__dropdown {
    display: none;
    list-style-type: none;
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 0;
    font-weight: 400;

    .is-dropdown-open & {
      display: block;
    }

    @include media('>=xl') {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      min-width: 200px;
      margin-top: -1px; //Remove whitespace
      padding: 0 16px;
      background-color: inherit;
      color: $text-color;
      box-shadow: -4px 0 0 0 $support, 3px 3px 3px 0 rgba(0, 71, 107, 0.2);
      z-index: 2;
    }
  }

  //Nested lists
  &__sub-menu {
    list-style-type: none;
    padding: 0;

    @include media('>=xl') {
      padding: 0;
    }
  }
}
