//EUM Colors
$eum-primary: #00476b;
$eum-secondary: #b7a168;
$eum-tertiary: #19898d;

// Brand Colors
$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$support: #296dc0;

// Body color
$text-color-neutral: false !default;
$text-color: var(--text-color);
$background: var(--background);

@if ($text-color-neutral) {
  $text-color: #222;
}

// UI
$grey-01: #ebebeb !default;
$grey-02: #f5f5f5 !default;
$white: #fff !default;

// Support
$success: #94b20a !default;
$warning: #fad300 !default;
$error: #c23431 !default;
$info: #4e6eda !default;

// Tags
$tag-colors: #345d7f #394b54 #006d5d #724396 #a3382a #2f6514 #725e10 #ad1625 !default;
