$breakpoints: (
  xxs: 320px,
  xs: 360px,
  s: 564px,
  m: 760px,
  l: 1000px,
  xl: 1200px,
  xxl:1600px
);

$bases: 10px, 12px, 16px;

$multipliers: (
  none: 0,
  micro: 0.5,
  mini: 1,
  small: 2,
  medium: 3,
  large: 4,
  huge: 5,
);

$gutter-xs: nth($bases, 1);
$gutter: nth($bases, 2);
$gutter-xxl: nth($bases, 3);

$styling-class: '.eum-styled-content' !default;
$form-styling-class: '.eum-styled-form' !default;
