// Distance generator
@mixin distance($property, $size) {
  $multiplier: map-get($multipliers, $size);

  #{$property}: nth($bases, 1) * $multiplier;

  @include media(">=s") {
    #{$property}: nth($bases, 2) * $multiplier;
  }

  @include media(">=xxl") {
    #{$property}: nth($bases, 3) * $multiplier;
  }
}

// Visually hidden
@mixin vhidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

// Darken/Lighten functions
@function sass_blacken($color, $value) {
  @if ($value != 5) {
    @return mix($color, black, (100% - ($value * 20)));
  } @else {
    @return mix($color, black, 10%);
  }
}

@function sass_whiten($color, $value) {
  @if ($value != 5) {
    @return mix($color, white, (100% - ($value * 20)));
  } @else {
    @return mix($color, white, 10%);
  }
}

@function blacken($variable, $value) {
  $label: str-slice($variable + "", 5, -2);

  @return var($label + "-dark-" + $value);
}

@function whiten($variable, $value) {
  $label: str-slice($variable + "", 5, -2);

  @return var($label + "-light-" + $value);
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function inlinesvg($argument) {
  @return str-replace('' + $argument, '#', '%23');
}

//Apply heading styles
@mixin heading($level: 1) {
  $heading: map-get($headings, h#{$level});
  $mobile-props: nth($heading, 1);
  $props: nth($heading, 2);

  font-family: $serif;
  font-weight: 500;
  hanging-punctuation: first last;
  font-size: #{nth($mobile-props, 1) + 'rem'};
  line-height: #{nth($mobile-props, 2) + 'rem'};

  @include media(">=m") {
    font-size: #{nth($props, 1) + 'rem'};
    line-height: #{nth($props, 2) + 'rem'};
  }

  @if ($level>=5) {
    @include media("<m") {
      font-weight: 600;

      b,
      strong {
        font-weight: 700;
      }
    }
  }
}

//Style element as special link
@mixin special-link($small: false, $invert: false, $mtop: 1, $mbot: 1) {
  font-weight: 500;
  display: inline-block;
  position: relative;

  @if $invert {
    color: $background;
  } @else {
    color: $primary;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    opacity: 0.5;

    @if $invert {
      background-color: $background;
    } @else {
      background-color: $primary;
    }
  }

  &:hover::after {
    opacity: 1;
  }

  @include distance('padding-bottom', 'micro');
  @include distance('padding-top', 'micro');

  @if $small {
    @include typoscale(1, 1.5, $mtop, $mbot);
  } @else {
    @include typoscale(1.125, 1.625, $mtop, $mbot);

    @include media(">=m") {
      @include typoscale(1.25, 1.75, $mtop, $mbot);
    }
  }
}

@mixin responsive-media-wrapper( $ratio_w: 3, $ratio_h: 2 ) {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: percentage($ratio_h / $ratio_w);
  }

  a {
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
  }

  img,
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: none;
    transform: translateX(-50%);
  }

  @supports (object-fit:cover) {
    img,
    iframe {
      width: 100%;
      height: 100%;
      left: 0;
      transform: none;
      object-fit: cover;
    }
  }
}

// Apply standard left border and padding
@mixin border-left($color: $secondary) {

  @include distance('padding-top', 'mini');
  @include distance('padding-bottom', 'mini');

  padding-left: 20px;
  border-left: 6px solid $color;
}

@mixin container {
  margin: 0 auto;

  @include media(">=m") {
    max-width: 760px;
  }

  @include media(">=l") {
    max-width: 948px;
  }

  @include media(">=xl") {
    max-width: 1188px;
  }

  @include media(">=xxl") {
    max-width: 1352px;
  }

  @include distance('padding-left', 'mini');
  @include distance('padding-right', 'mini');
}

@mixin item-kicker( $color: $secondary ) {
  display: inline-block;
  font-family: $mono;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $color;
}
