$base: 16;
$base-xxl: 18;
$lineheight: 1.5;
$serif: 'EB Garamond', serif;
$sans: 'Rubik', sans-serif;
$mono: 'Roboto Mono', monospace;
$trajan: 'Cinzel', serif;

@mixin typoscale($font, $line, $mtop, $mbot) {
  font-size: #{$font + 'rem'};
  line-height: #{$line + 'rem'};
  margin-top: #{$mtop + 'rem'};
  margin-bottom: #{$mbot + 'rem'};

  &:first-child {
    margin-top: #{$mbot + 'rem'};
  }
}

$h1: (
  (2.125, 2.25, 4, 1.5),
  (3.75, 4.5, 4, 1.5),
);

$h2: (
  (2, 2.125, 2.5, 1.5),
  (2.875, 3, 2.5, 1.5),
);

$h3: (
  (1.875, 2, 2, 1.25),
  (2.5, 2.75, 2, 1.25),
);

$h4: (
  (1.5, 1.75, 1.5, 1.25),
  (2.125, 2.25, 1.5, 1.25),
);

$h5: (
  (1.25, 1.5, 1.5, 1),
  (1.875, 2, 1.5, 1),
);

$h6: (
  (1.125, 1.5, 1, 1),
  (1.5, 1.75, 1, 1),
);

$headings: (
  h1: $h1,
  h2: $h2,
  h3: $h3,
  h4: $h4,
  h5: $h5,
  h6: $h6,
);
